<?xml version="1.0"?>
<config>
    <modules>
        <Itserv_Analytics>
            <version>1.0.0</version>
        </Itserv_Analytics>
    </modules>
    <global>
        <blocks>
            <itserv_analytics>
                <class>Itserv_Analytics_Block</class>
            </itserv_analytics>
        </blocks>
        <helpers>
            <itserv_analytics>
                <class>Itserv_Analytics_Helper</class>
            </itserv_analytics>
        </helpers>
        <models>
            <itserv_analytics>
                <class>Itserv_Analytics_Model</class>
            </itserv_analytics>
        </models>
    </global>
    <frontend>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <itserv_analytics_order_success>
                        <class>itserv_analytics/observer</class>
                        <method>setGoogleAnalyticsOnOrderSuccessPageView</method>
                    </itserv_analytics_order_success>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <itserv_analytics_order_success>
                        <class>itserv_analytics/observer</class>
                        <method>setGoogleAnalyticsOnOrderSuccessPageView</method>
                    </itserv_analytics_order_success>
                </observers>
            </checkout_multishipping_controller_success_action>
        </events>
        <layout>
            <updates>
                <itserv_analytics>
                    <file>itserv_analytics.xml</file>
                </itserv_analytics>
            </updates>
        </layout>
    </frontend>
</config>
