<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * 
* @category    Itserv
* @package     Itserv_Analytics
* @copyright   Copyright (c) 2010-2016 Agenzia Web It Serv, Inc. (http://www.it-serv.it)
* @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
* @author      Denis Seghetti <denisseghetti@gmail.com>
 */
-->
<config>
    <tabs>
        <itservenanalyticsconfig module="itserv_analytics">
            <label>It Serv Enhanced Analytics</label>
            <sort_order>999</sort_order>
        </itservenanalyticsconfig>
    </tabs>
    <sections>
        <itserv_analytics_options translate="label" module="itserv_analytics">
            <label>It Serv Enhanced Analytics</label>
            <tab>itservenanalyticsconfig</tab>
            <frontend_type>text</frontend_type>
            <sort_order>340</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <analytics translate="label">
                    <label>Google Analytics</label>
                    <comment>
                    <![CDATA[<p>Le seguenti operazioni sono obbligatorie per evitare malfunzionamenti:</p>
                             <ul>
                             <li>Disattivare il modulo attualmente attivo per il tracciamento tramite google analytics.</li>
                             <li>Migrare obbligatoriamente allo standard "universal"</li>
                             <li>Se si imposta un attributo per il tracciamento dei costi di acquisto, attivare l'opzione "utilizza per la lista prodotti" nella scheda dell'attributo</li>
                        </ul>]]>
                    </comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Abilita</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <account translate="label">
                            <label>Account Number</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </account>
                        <anonymization translate="label">
                            <label>Abilita Anonimizzazione Ip</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </anonymization>
                        <funneltrack translate="label">
                            <label>Abilita Tracciamento Funnel Checkout Onepage</label>
                            <comment>
                            <![CDATA[ATTENZIONE: testato e funzionante solo con modulo checkout onepage originale del tema RWD.
                            <br>Se abilitato è necessario stabilire con precisione i passaggi del checkout onepage base:<br>
                                <ul>
                                <li>1 - Login</li>
                                <li>2 - Info Fatturazione</li>
                                <li>3 - Info Spedizione</li>
                                <li>4 - Metodo Spedizione</li>
                                <li>5 - Metodo Pagamento</li>
                                <li>6 - Revisione Ordine</li>
                                </ul>
                            ]]>
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </funneltrack>
                        <brand translate="label">
                            <label>Attributo "Brand"</label>
                            <frontend_type>text</frontend_type>
                            <comment>
                <![CDATA[Codice dell'attributo utilizzato per definire il produttore di un articolo]]>
                            </comment>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </brand>
                    </fields>
                </analytics>
                <costo_acquisto translate="label">
                    <label>Traccia Costo di Acquisto</label>
                    <comment>
                <![CDATA[Inserendo un attributo che riporta il costo di acquisto di un prodotto, è possibile trasmetterlo a google analytics durante una transazione]]>
                    </comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <tax translate="label">
                            <label>Aggiungi Tasse</label>
                            <comment>
                <![CDATA[Se impostato su "si", il sistema aggiunge automaticamente le tasse al costo (da usare se, ad esempio, il costo di acquisto è inteso iva esclusa ed i prezzi dei prodotti sono tracciati iva inclusa]]>
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tax>
                        <attribute translate="label">
                            <label>Attributo "Costo di Acquisto"</label>
                            <frontend_type>text</frontend_type>
                            <comment>
                <![CDATA[Codice dell'attributo utilizzato per definire il costo di acquisto di un articolo]]>
                            </comment>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </attribute>
                        <id_metrica translate="label">
                            <label>Id Metrica Analytics</label>
                            <frontend_type>text</frontend_type>
                            <comment>
                <![CDATA[Riporta l'id della metrica customizzata appositamente creata su Google Analytics]]>
                            </comment>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </id_metrica>
                    </fields>
                </costo_acquisto>
            </groups>
        </itserv_analytics_options>
    </sections>
</config>